.background-panel{
	-fx-background-color: orange ;
	-fx-background-radius: 5 ;
}

.botao-r {
	-fx-background-color: orange ;
	
	/*-fx-border-color: orange    ;
	-fx-padding: 5;
	-fx-border-insets: 0;
	-fx-border-width: 2;
	-fx-border-radius: 5;
	-fx-border-style: solid;*/
	
	-fx-font-family: "Times New Roman";
	-fx-font-style: italic;
	-fx-font-weight: bold;
	-fx-font-size: 14;
	-fx-text-fill: white ;
	-fx-alignment: center;	
	
	-fx-cursor: hand ;
	
	
}